@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=block');

:root {
  --azul-oscuro: #1A3C5A;
  --azul-medio: #3B6F9C;
  --azul-claro: #6DA8D6;
  --blanco: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--blanco);
}

a {
  text-decoration: none;
}